.jumbotron{
    margin-top: 20%;
}

body{
    background-image: url("https://i.blogs.es/37ba66/trabajar-en-el-campo/1366_2000.jpg");
    background-size:  100% auto;
    background-repeat: no-repeat;

}